USE [ge-demo]
GO
/****** Object:  Table [dbo].[cMunicipios]    Script Date: 02/12/2020 11:54:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cMunicipios](
	[MunicipioId] [int] IDENTITY(1,1) NOT NULL,
	[EstadoId] [int] NOT NULL,
	[ClaveMunicipio] [int] NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
 CONSTRAINT [PK_cMunicipios_1] PRIMARY KEY CLUSTERED 
(
	[MunicipioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cMunicipios] ON 

INSERT [dbo].[cMunicipios] ([MunicipioId], [EstadoId], [ClaveMunicipio], [Descripcion]) VALUES (1, 1, 1, N'Aguascalientes')
INSERT [dbo].[cMunicipios] ([MunicipioId], [EstadoId], [ClaveMunicipio], [Descripcion]) VALUES (2, 1, 2, N'Asientos')
INSERT [dbo].[cMunicipios] ([MunicipioId], [EstadoId], [ClaveMunicipio], [Descripcion]) VALUES (3, 1, 3, N'Calvillo')
GO
SET IDENTITY_INSERT [dbo].[cMunicipios] OFF
ALTER TABLE [dbo].[cMunicipios]  WITH CHECK ADD  CONSTRAINT [FK_cMunicipios_cEstados] FOREIGN KEY([EstadoId])
REFERENCES [dbo].[cEstados] ([EstadoId])
GO
ALTER TABLE [dbo].[cMunicipios] CHECK CONSTRAINT [FK_cMunicipios_cEstados]
GO
